/* iCheck plugin Square skin, red
----------------------------------- 

Modified to use the large icons by default.

*/
.icheckbox_square-red,
.iradio_square-red {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    background: url(red@2x.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-red {
    background-position: 0 0;
}
    .icheckbox_square-red.hover {
        background-position: -48px 0;
    }
    .icheckbox_square-red.checked {
        background-position: -96px 0;
    }
    .icheckbox_square-red.disabled {
        background-position: -144px 0;
        cursor: default;
    }
    .icheckbox_square-red.checked.disabled {
        background-position: -192px 0;
    }

.iradio_square-red {
    background-position: -240px 0;
}
    .iradio_square-red.hover {
        background-position: -288px 0;
    }
    .iradio_square-red.checked {
        background-position: -336px 0;
    }
    .iradio_square-red.disabled {
        background-position: -384px 0;
        cursor: default;
    }
    .iradio_square-red.checked.disabled {
        background-position: -432px 0;
    }
